.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative; /* Asegúrate de que el contenedor del header sea relativo */
}

.info-section {
  flex: 1;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Asegúrate de que el contenedor de la imagen sea relativo */
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.whatsapp-button-container {
  position: absolute; /* Usa posición absoluta para colocar el botón sobre la imagen */
  top: 60px; /* Ajusta la posición según tus necesidades */
  right: 60px; /* Ajusta la posición según tus necesidades */
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 9999; /* Asegúrate de que este valor sea alto */
}

.whatsapp-button {
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
}

.whatsapp-button:hover {
  background-color: #1ebc54;
}
